<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>NAME: <B>My name is Adedapo Adeyanju</B></h1>
    <h5>A computer science student of  <abbr title="Osun State University ">UNIOSUN</abbr></h6>
        <p>The command to create a virtual environment for django in penguin is <i>python3 -m venv myVE</i></p>
        <p>The command to activate a virtual environment for django in penguin is <i>source myVE/bin/activate</i></p>
</body>
</html>